<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= Arttitle %></h1>
<div><%- Artbody -%></div>
<p><%=nickname%></p>
<p><%=posttime%></p>
</body>
</html>